.tracked-animal {
    -fx-effect: dropshadow( three-pass-box, rgba(83, 34, 117, 0.8) , 7, 0.5 , 0 , 0);
    -fx-background-color: #caa2fa
}

.selectable-animal:hover {
    -fx-cursor: hand;
}

.animal-node {
    -fx-cursor: default;
}

#simulationStatusLabel {
    -fx-font-size: 15pt;
    -fx-text-fill: green
}

.highlighted_gene {
    -fx-fill: magenta;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(83, 34, 117, 1) , 7, 0.5 , 0 , 0);
}